<center>
    <img src="{{ href }}" height=600 />
    <form method="POST">
        <p>
            <label>Month</label>
            <input name="month">
            <label>Day</label>
            <input name="day">
            <label>Hour</label>
            <input name="hour">
        </p>
        <p>
            <label>Temperature</label>
            <input name="temp">
            <label>Humidity</label>
            <input name="humd">

        </p>
        <p>
            <label>Rain_mm</label>
            <input name="rmm">
            <label>Rainy</label>
            <input name="rain">
        </p>
        <input type="submit">
    </form>
</center>